<div ng-controller="ChannelListCtrl" ng-init="loadChannels()">

    <div ng-repeat="channel in channels" ng-controller="ChannelCtrl" ng-init="tags=channel.tags;id=channel.id">
        <a ng-click="selectChannel(this)"><h2>{{ channel.name }} {{ channel.id }}
        <i ng-click="removeChannel(channel.id)" class="icon-trash"></i></h2></a>

        <div ng-controller="TagCtrl">
            <p ng-repeat="tag in channel.tags">
                {{ tag }}
                <i ng-click="untagChannel(channel.id, tag)" class="icon-remove"></i>
            </p>
            <div class="tag_form">
                add tag: <input type="text" ng-model="tag" on-keyup="tagChannel()" keys="[27,13]">
            </div>
        </div>
    </div>

    <div class="channel_form">
        <button ng-click="addChannel()">new channel</button>
    </div>
</div>